client/PASSWORD LIS Client/Connected Services/PasswordResetManagerServiceReference/PasswordResetManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PasswordResetManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPasswordResetManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8098/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPasswordResetManager_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IPasswordResetManager_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordResetManager_RequestPasswordResetCode_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestPasswordResetCode" />
  </wsdl:message>
  <wsdl:message name="IPasswordResetManager_RequestPasswordResetCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestPasswordResetCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPasswordResetManager_ValidatePasswordResetCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResetCode" />
  </wsdl:message>
  <wsdl:message name="IPasswordResetManager_ValidatePasswordResetCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResetCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPasswordResetManager">
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordResetManager/ResetPassword" message="tns:IPasswordResetManager_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordResetManager/ResetPasswordResponse" message="tns:IPasswordResetManager_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestPasswordResetCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordResetManager/RequestPasswordResetCode" message="tns:IPasswordResetManager_RequestPasswordResetCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordResetManager/RequestPasswordResetCodeResponse" message="tns:IPasswordResetManager_RequestPasswordResetCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePasswordResetCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPasswordResetManager/ValidatePasswordResetCode" message="tns:IPasswordResetManager_ValidatePasswordResetCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPasswordResetManager/ValidatePasswordResetCodeResponse" message="tns:IPasswordResetManager_ValidatePasswordResetCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPasswordResetManager" type="tns:IPasswordResetManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPasswordResetManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/IPasswordResetManager/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPasswordResetCode">
      <soap12:operation soapAction="http://tempuri.org/IPasswordResetManager/RequestPasswordResetCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePasswordResetCode">
      <soap12:operation soapAction="http://tempuri.org/IPasswordResetManager/ValidatePasswordResetCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordResetManager">
    <wsdl:port name="NetTcpBinding_IPasswordResetManager" binding="tns:NetTcpBinding_IPasswordResetManager">
      <soap12:address location="net.tcp://localhost:8099/PasswordResetManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8099/PasswordResetManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-LF36UFJ4\artcu</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>