client/PASSWORD LIS Client/Connected Services/WaitingRoomManagerServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8100/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" />
  <xs:complexType name="ServiceErrorDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:ServiceErrorCode" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceErrorDetailDTO" nillable="true" type="tns:ServiceErrorDetailDTO" />
  <xs:simpleType name="ServiceErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER_ALREADY_EXISTS" />
      <xs:enumeration value="DATABASE_ERROR" />
      <xs:enumeration value="UNEXPECTED_ERROR" />
      <xs:enumeration value="STATISTICS_ERROR" />
      <xs:enumeration value="COULD_NOT_CREATE_ROOM" />
      <xs:enumeration value="ROOM_NOT_FOUND" />
      <xs:enumeration value="ROOM_FULL" />
      <xs:enumeration value="PLAYER_NOT_FOUND" />
      <xs:enumeration value="ALREADY_IN_ROOM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceErrorCode" nillable="true" type="tns:ServiceErrorCode" />
  <xs:complexType name="ChatMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderNickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatMessageDTO" nillable="true" type="tns:ChatMessageDTO" />
  <xs:complexType name="ArrayOfPlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDTO" nillable="true" type="tns:ArrayOfPlayerDTO" />
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Role" type="q1:PlayerRole" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Team" type="q2:MatchTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
</xs:schema>