client/PASSWORD LIS Client/Connected Services/WaitingRoomManagerServiceReference/WaitingRoomManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WaitingRoomManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWaitingRoomManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWaitingRoomManager_JoinAsRegisteredPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinAsRegisteredPlayer" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinAsRegisteredPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinAsRegisteredPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinAsGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinAsGuest" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinAsGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinAsGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_LeaveRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveRoom" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_LeaveRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_GetConnectedPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedPlayers" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_GetConnectedPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectedPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnPlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageReceived" />
  </wsdl:message>
  <wsdl:portType name="IWaitingRoomManager">
    <wsdl:operation name="JoinAsRegisteredPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinAsRegisteredPlayer" message="tns:IWaitingRoomManager_JoinAsRegisteredPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinAsRegisteredPlayerResponse" message="tns:IWaitingRoomManager_JoinAsRegisteredPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinAsGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinAsGuest" message="tns:IWaitingRoomManager_JoinAsGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinAsGuestResponse" message="tns:IWaitingRoomManager_JoinAsGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/LeaveRoom" message="tns:IWaitingRoomManager_LeaveRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/LeaveRoomResponse" message="tns:IWaitingRoomManager_LeaveRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendMessage" message="tns:IWaitingRoomManager_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendMessageResponse" message="tns:IWaitingRoomManager_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectedPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/GetConnectedPlayers" message="tns:IWaitingRoomManager_GetConnectedPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/GetConnectedPlayersResponse" message="tns:IWaitingRoomManager_GetConnectedPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnPlayerJoined" message="tns:IWaitingRoomManager_OnPlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnPlayerLeft" message="tns:IWaitingRoomManager_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnMessageReceived" message="tns:IWaitingRoomManager_OnMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWaitingRoomManager" type="tns:IWaitingRoomManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IWaitingRoomManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="JoinAsRegisteredPlayer">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/JoinAsRegisteredPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinAsGuest">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/JoinAsGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveRoom">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/LeaveRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectedPlayers">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/GetConnectedPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnPlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaitingRoomManager">
    <wsdl:port name="NetTcpBinding_IWaitingRoomManager" binding="tns:NetTcpBinding_IWaitingRoomManager">
      <soap12:address location="net.tcp://localhost:8101/WaitingRoomManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8101/WaitingRoomManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SURFACE\eugen</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>