client/PASSWORD LIS Client/Connected Services/WaitingRoomManagerServiceReference/WaitingRoomManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WaitingRoomManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWaitingRoomManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWaitingRoomManager_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_CreateGame_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q1:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinGameAsRegisteredPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameAsRegisteredPlayer" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinGameAsRegisteredPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameAsRegisteredPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinGameAsRegisteredPlayer_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q2:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinGameAsGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameAsGuest" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinGameAsGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameAsGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinGameAsGuest_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q3:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_LeaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_GetPlayersInGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersInGame" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_GetPlayersInGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersInGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_HostLeft_InputMessage">
    <wsdl:part name="parameters" element="tns:HostLeft" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_HostLeft_OutputMessage">
    <wsdl:part name="parameters" element="tns:HostLeftResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnPlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageReceived" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnGameCreated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameCreated" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnGameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameStarted" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnHostLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnHostLeft" />
  </wsdl:message>
  <wsdl:portType name="IWaitingRoomManager">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/CreateGame" message="tns:IWaitingRoomManager_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/CreateGameResponse" message="tns:IWaitingRoomManager_CreateGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWaitingRoomManager/CreateGameServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IWaitingRoomManager_CreateGame_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsRegisteredPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinGameAsRegisteredPlayer" message="tns:IWaitingRoomManager_JoinGameAsRegisteredPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinGameAsRegisteredPlayerResponse" message="tns:IWaitingRoomManager_JoinGameAsRegisteredPlayer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinGameAsRegisteredPlayerServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IWaitingRoomManager_JoinGameAsRegisteredPlayer_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinGameAsGuest" message="tns:IWaitingRoomManager_JoinGameAsGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinGameAsGuestResponse" message="tns:IWaitingRoomManager_JoinGameAsGuest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinGameAsGuestServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IWaitingRoomManager_JoinGameAsGuest_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendMessage" message="tns:IWaitingRoomManager_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendMessageResponse" message="tns:IWaitingRoomManager_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/LeaveGame" message="tns:IWaitingRoomManager_LeaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/LeaveGameResponse" message="tns:IWaitingRoomManager_LeaveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/StartGame" message="tns:IWaitingRoomManager_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/StartGameResponse" message="tns:IWaitingRoomManager_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersInGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/GetPlayersInGame" message="tns:IWaitingRoomManager_GetPlayersInGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/GetPlayersInGameResponse" message="tns:IWaitingRoomManager_GetPlayersInGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HostLeft">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/HostLeft" message="tns:IWaitingRoomManager_HostLeft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/HostLeftResponse" message="tns:IWaitingRoomManager_HostLeft_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnPlayerJoined" message="tns:IWaitingRoomManager_OnPlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnPlayerLeft" message="tns:IWaitingRoomManager_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnMessageReceived" message="tns:IWaitingRoomManager_OnMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameCreated">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnGameCreated" message="tns:IWaitingRoomManager_OnGameCreated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnGameStarted" message="tns:IWaitingRoomManager_OnGameStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnHostLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnHostLeft" message="tns:IWaitingRoomManager_OnHostLeft_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWaitingRoomManager" type="tns:IWaitingRoomManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IWaitingRoomManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsRegisteredPlayer">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/JoinGameAsRegisteredPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsGuest">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/JoinGameAsGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersInGame">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/GetPlayersInGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostLeft">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/HostLeft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnPlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameCreated">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnGameCreated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnGameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnHostLeft">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnHostLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaitingRoomManager">
    <wsdl:port name="NetTcpBinding_IWaitingRoomManager" binding="tns:NetTcpBinding_IWaitingRoomManager">
      <soap12:address location="net.tcp://localhost:8101/WaitingRoomManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8101/WaitingRoomManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SURFACE\eugen</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>