client/PASSWORD LIS Client/Connected Services/WaitingRoomManagerServiceReference/WaitingRoomManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WaitingRoomManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWaitingRoomManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWaitingRoomManager_CreateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoom" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_CreateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_CreateRoom_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q1:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinRoomAsRegisteredPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinRoomAsRegisteredPlayer" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinRoomAsRegisteredPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinRoomAsRegisteredPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinRoomAsRegisteredPlayer_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q2:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinRoomAsGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinRoomAsGuest" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinRoomAsGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinRoomAsGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_JoinRoomAsGuest_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q3:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_LeaveRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveRoom" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_LeaveRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_GetPlayersInRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersInRoom" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_GetPlayersInRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersInRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_HostLeft_InputMessage">
    <wsdl:part name="parameters" element="tns:HostLeft" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_HostLeft_OutputMessage">
    <wsdl:part name="parameters" element="tns:HostLeftResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendGameInvitationByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGameInvitationByEmail" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendGameInvitationByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGameInvitationByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendGameInvitationByEmail_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q4:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendGameInvitationToFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGameInvitationToFriend" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendGameInvitationToFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGameInvitationToFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_SendGameInvitationToFriend_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q5:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnPlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageReceived" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnGameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameStarted" />
  </wsdl:message>
  <wsdl:message name="IWaitingRoomManager_OnHostLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnHostLeft" />
  </wsdl:message>
  <wsdl:portType name="IWaitingRoomManager">
    <wsdl:operation name="CreateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/CreateRoom" message="tns:IWaitingRoomManager_CreateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/CreateRoomResponse" message="tns:IWaitingRoomManager_CreateRoom_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWaitingRoomManager/CreateRoomServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IWaitingRoomManager_CreateRoom_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinRoomAsRegisteredPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinRoomAsRegisteredPlayer" message="tns:IWaitingRoomManager_JoinRoomAsRegisteredPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinRoomAsRegisteredPlayerResponse" message="tns:IWaitingRoomManager_JoinRoomAsRegisteredPlayer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinRoomAsRegisteredPlayerServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IWaitingRoomManager_JoinRoomAsRegisteredPlayer_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinRoomAsGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinRoomAsGuest" message="tns:IWaitingRoomManager_JoinRoomAsGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinRoomAsGuestResponse" message="tns:IWaitingRoomManager_JoinRoomAsGuest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWaitingRoomManager/JoinRoomAsGuestServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IWaitingRoomManager_JoinRoomAsGuest_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendMessage" message="tns:IWaitingRoomManager_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendMessageResponse" message="tns:IWaitingRoomManager_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/LeaveRoom" message="tns:IWaitingRoomManager_LeaveRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/LeaveRoomResponse" message="tns:IWaitingRoomManager_LeaveRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/StartGame" message="tns:IWaitingRoomManager_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/StartGameResponse" message="tns:IWaitingRoomManager_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersInRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/GetPlayersInRoom" message="tns:IWaitingRoomManager_GetPlayersInRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/GetPlayersInRoomResponse" message="tns:IWaitingRoomManager_GetPlayersInRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HostLeft">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/HostLeft" message="tns:IWaitingRoomManager_HostLeft_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/HostLeftResponse" message="tns:IWaitingRoomManager_HostLeft_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGameInvitationByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendGameInvitationByEmail" message="tns:IWaitingRoomManager_SendGameInvitationByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendGameInvitationByEmailResponse" message="tns:IWaitingRoomManager_SendGameInvitationByEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendGameInvitationByEmailServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IWaitingRoomManager_SendGameInvitationByEmail_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGameInvitationToFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendGameInvitationToFriend" message="tns:IWaitingRoomManager_SendGameInvitationToFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendGameInvitationToFriendResponse" message="tns:IWaitingRoomManager_SendGameInvitationToFriend_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWaitingRoomManager/SendGameInvitationToFriendServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IWaitingRoomManager_SendGameInvitationToFriend_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnPlayerJoined" message="tns:IWaitingRoomManager_OnPlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnPlayerLeft" message="tns:IWaitingRoomManager_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnMessageReceived" message="tns:IWaitingRoomManager_OnMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnGameStarted" message="tns:IWaitingRoomManager_OnGameStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnHostLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IWaitingRoomManager/OnHostLeft" message="tns:IWaitingRoomManager_OnHostLeft_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWaitingRoomManager" type="tns:IWaitingRoomManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IWaitingRoomManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateRoom">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/CreateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinRoomAsRegisteredPlayer">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/JoinRoomAsRegisteredPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinRoomAsGuest">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/JoinRoomAsGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveRoom">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/LeaveRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersInRoom">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/GetPlayersInRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostLeft">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/HostLeft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGameInvitationByEmail">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/SendGameInvitationByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendGameInvitationToFriend">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/SendGameInvitationToFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnPlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnGameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnHostLeft">
      <soap12:operation soapAction="http://tempuri.org/IWaitingRoomManager/OnHostLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaitingRoomManager">
    <wsdl:port name="NetTcpBinding_IWaitingRoomManager" binding="tns:NetTcpBinding_IWaitingRoomManager">
      <soap12:address location="net.tcp://localhost:8101/WaitingRoomManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8101/WaitingRoomManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SURFACE\eugen</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>