client/PASSWORD LIS Client/Connected Services/GameManagerServiceReference/GameManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8108/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8108/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
      <xsd:import schemaLocation="http://localhost:8108/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8108/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameManager_SubscribeToMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToMatch" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubscribeToMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubscribeToMatch_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q1:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitClue_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitClue" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitClue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitClueResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitClue_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q2:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitGuess_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitGuess" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitGuess_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitGuessResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitGuess_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q3:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IGameManager_PassTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:PassTurn" />
  </wsdl:message>
  <wsdl:message name="IGameManager_PassTurn_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassTurnResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_PassTurn_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q4:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitValidationVotes_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitValidationVotes" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitValidationVotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitValidationVotesResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_SubmitValidationVotes_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q5:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnMatchInitialized_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchInitialized" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnTimerTick_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTimerTick" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnNewPassword_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnNewPassword" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnClueReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnClueReceived" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnGuessResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGuessResult" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnBeginRoundValidation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnBeginRoundValidation" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnValidationComplete_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnValidationComplete" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnMatchOver_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchOver" />
  </wsdl:message>
  <wsdl:message name="IGameManager_OnMatchCancelled_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchCancelled" />
  </wsdl:message>
  <wsdl:portType name="IGameManager">
    <wsdl:operation name="SubscribeToMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/SubscribeToMatch" message="tns:IGameManager_SubscribeToMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/SubscribeToMatchResponse" message="tns:IGameManager_SubscribeToMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameManager/SubscribeToMatchServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IGameManager_SubscribeToMatch_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitClue">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/SubmitClue" message="tns:IGameManager_SubmitClue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/SubmitClueResponse" message="tns:IGameManager_SubmitClue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameManager/SubmitClueServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IGameManager_SubmitClue_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitGuess">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/SubmitGuess" message="tns:IGameManager_SubmitGuess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/SubmitGuessResponse" message="tns:IGameManager_SubmitGuess_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameManager/SubmitGuessServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IGameManager_SubmitGuess_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/PassTurn" message="tns:IGameManager_PassTurn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/PassTurnResponse" message="tns:IGameManager_PassTurn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameManager/PassTurnServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IGameManager_PassTurn_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitValidationVotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/SubmitValidationVotes" message="tns:IGameManager_SubmitValidationVotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/SubmitValidationVotesResponse" message="tns:IGameManager_SubmitValidationVotes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameManager/SubmitValidationVotesServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IGameManager_SubmitValidationVotes_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchInitialized">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnMatchInitialized" message="tns:IGameManager_OnMatchInitialized_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTimerTick">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnTimerTick" message="tns:IGameManager_OnTimerTick_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnNewPassword">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnNewPassword" message="tns:IGameManager_OnNewPassword_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnClueReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnClueReceived" message="tns:IGameManager_OnClueReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGuessResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnGuessResult" message="tns:IGameManager_OnGuessResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBeginRoundValidation">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnBeginRoundValidation" message="tns:IGameManager_OnBeginRoundValidation_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnValidationComplete">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnValidationComplete" message="tns:IGameManager_OnValidationComplete_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchOver">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnMatchOver" message="tns:IGameManager_OnMatchOver_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchCancelled">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/OnMatchCancelled" message="tns:IGameManager_OnMatchCancelled_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameManager" type="tns:IGameManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SubscribeToMatch">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/SubscribeToMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubmitClue">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/SubmitClue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubmitGuess">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/SubmitGuess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PassTurn">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/PassTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubmitValidationVotes">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/SubmitValidationVotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OnMatchInitialized">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnMatchInitialized" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTimerTick">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnTimerTick" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnNewPassword">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnNewPassword" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnClueReceived">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnClueReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGuessResult">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnGuessResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBeginRoundValidation">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnBeginRoundValidation" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnValidationComplete">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnValidationComplete" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchOver">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnMatchOver" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchCancelled">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/OnMatchCancelled" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameManager">
    <wsdl:port name="NetTcpBinding_IGameManager" binding="tns:NetTcpBinding_IGameManager">
      <soap12:address location="net.tcp://localhost:8109/GameManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8109/GameManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-LF36UFJ4\artcu</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>