client/PASSWORD LIS Client/Connected Services/GameManagerServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ServiceErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER_ALREADY_EXISTS" />
      <xs:enumeration value="DATABASE_ERROR" />
      <xs:enumeration value="UNEXPECTED_ERROR" />
      <xs:enumeration value="STATISTICS_ERROR" />
      <xs:enumeration value="COULD_NOT_CREATE_ROOM" />
      <xs:enumeration value="ROOM_NOT_FOUND" />
      <xs:enumeration value="ROOM_FULL" />
      <xs:enumeration value="PLAYER_NOT_FOUND" />
      <xs:enumeration value="ALREADY_IN_ROOM" />
      <xs:enumeration value="INVALID_REPORT_PAYLOAD" />
      <xs:enumeration value="REPORTER_NOT_FOUND" />
      <xs:enumeration value="REPORTED_PLAYER_NOT_FOUND" />
      <xs:enumeration value="PLAYER_ALREADY_BANNED" />
      <xs:enumeration value="BAN_PERSISTENCE_ERROR" />
      <xs:enumeration value="SUBSCRIPTION_ERROR" />
      <xs:enumeration value="UNSUBSCRIPTION_ERROR" />
      <xs:enumeration value="NULL_ARGUMENT" />
      <xs:enumeration value="EMAIL_SENDING_ERROR" />
      <xs:enumeration value="EMAIL_CONFIGURATION_ERROR" />
      <xs:enumeration value="SECURITY_ERROR" />
      <xs:enumeration value="FORMAT_ERROR" />
      <xs:enumeration value="INVALID_OPERATION" />
      <xs:enumeration value="SELF_INVITATION" />
      <xs:enumeration value="MATCH_NOT_FOUND_OR_ENDED" />
      <xs:enumeration value="MATCH_ALREADY_STARTED_OR_FINISHING" />
      <xs:enumeration value="NOT_AUTHORIZED_TO_JOIN" />
      <xs:enumeration value="MAX_ONE_REPORT_PER_BAN" />
      <xs:enumeration value="COULD_NOT_CREATE_GAME" />
      <xs:enumeration value="DATA_INTEGRITY_ERROR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceErrorCode" nillable="true" type="tns:ServiceErrorCode" />
  <xs:simpleType name="PlayerRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ClueGuy" />
      <xs:enumeration value="Guesser" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerRole" nillable="true" type="tns:PlayerRole" />
  <xs:simpleType name="MatchTeam">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BlueTeam" />
      <xs:enumeration value="RedTeam" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatchTeam" nillable="true" type="tns:MatchTeam" />
</xs:schema>