client/PASSWORD LIS Client/Connected Services/GameManagerServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8108/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" />
  <xs:complexType name="ServiceErrorDetailDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Code" type="q1:ServiceErrorCode" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceErrorDetailDTO" nillable="true" type="tns:ServiceErrorDetailDTO" />
  <xs:complexType name="ArrayOfValidationVoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationVoteDTO" nillable="true" type="tns:ValidationVoteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationVoteDTO" nillable="true" type="tns:ArrayOfValidationVoteDTO" />
  <xs:complexType name="ValidationVoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PenalizeMultiword" type="xs:boolean" />
      <xs:element minOccurs="0" name="PenalizeSynonym" type="xs:boolean" />
      <xs:element minOccurs="0" name="TurnId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationVoteDTO" nillable="true" type="tns:ValidationVoteDTO" />
  <xs:complexType name="MatchInitStateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchInitStateDTO" nillable="true" type="tns:MatchInitStateDTO" />
  <xs:complexType name="ArrayOfPlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDTO" nillable="true" type="tns:ArrayOfPlayerDTO" />
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Role" type="q2:PlayerRole" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Team" type="q3:MatchTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
  <xs:complexType name="RoundStartStateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentRound" type="xs:int" />
      <xs:element minOccurs="0" name="PlayersWithNewRoles" nillable="true" type="tns:ArrayOfPlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoundStartStateDTO" nillable="true" type="tns:RoundStartStateDTO" />
  <xs:complexType name="PasswordWordDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnglishDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnglishWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpanishDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpanishWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordWordDTO" nillable="true" type="tns:PasswordWordDTO" />
  <xs:complexType name="GuessResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsCorrect" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewScore" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Team" type="q4:MatchTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuessResultDTO" nillable="true" type="tns:GuessResultDTO" />
  <xs:complexType name="ArrayOfTurnHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TurnHistoryDTO" nillable="true" type="tns:TurnHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTurnHistoryDTO" nillable="true" type="tns:ArrayOfTurnHistoryDTO" />
  <xs:complexType name="TurnHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClueUsed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="tns:PasswordWordDTO" />
      <xs:element minOccurs="0" name="TurnId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TurnHistoryDTO" nillable="true" type="tns:TurnHistoryDTO" />
  <xs:complexType name="ValidationResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewBlueTeamScore" type="xs:int" />
      <xs:element minOccurs="0" name="NewRedTeamScore" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="TeamThatWasValidated" type="q5:MatchTeam" />
      <xs:element minOccurs="0" name="TotalPenaltyApplied" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResultDTO" nillable="true" type="tns:ValidationResultDTO" />
  <xs:complexType name="MatchSummaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlueScore" type="xs:int" />
      <xs:element minOccurs="0" name="RedScore" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="WinnerTeam" nillable="true" type="q6:MatchTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchSummaryDTO" nillable="true" type="tns:MatchSummaryDTO" />
</xs:schema>