client/PASSWORD LIS Client/Connected Services/GameManagerServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8108/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" />
  <xs:complexType name="ArrayOfValidationVoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationVoteDTO" nillable="true" type="tns:ValidationVoteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationVoteDTO" nillable="true" type="tns:ArrayOfValidationVoteDTO" />
  <xs:complexType name="ValidationVoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PenalizeMultiword" type="xs:boolean" />
      <xs:element minOccurs="0" name="PenalizeSynonym" type="xs:boolean" />
      <xs:element minOccurs="0" name="TurnId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationVoteDTO" nillable="true" type="tns:ValidationVoteDTO" />
  <xs:complexType name="MatchInitStateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchInitStateDTO" nillable="true" type="tns:MatchInitStateDTO" />
  <xs:complexType name="ArrayOfPlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDTO" nillable="true" type="tns:ArrayOfPlayerDTO" />
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Role" type="q1:PlayerRole" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Team" type="q2:MatchTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
  <xs:complexType name="GuessResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsCorrect" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewScore" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Team" type="q3:MatchTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuessResultDTO" nillable="true" type="tns:GuessResultDTO" />
  <xs:complexType name="ArrayOfTurnHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TurnHistoryDTO" nillable="true" type="tns:TurnHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTurnHistoryDTO" nillable="true" type="tns:ArrayOfTurnHistoryDTO" />
  <xs:complexType name="TurnHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClueUsed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TurnId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TurnHistoryDTO" nillable="true" type="tns:TurnHistoryDTO" />
  <xs:complexType name="MatchSummaryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlueScore" type="xs:int" />
      <xs:element minOccurs="0" name="RedScore" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" minOccurs="0" name="Team" type="q4:MatchTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchSummaryDTO" nillable="true" type="tns:MatchSummaryDTO" />
</xs:schema>