client/PASSWORD LIS Client/Connected Services/ReportManagerServiceReference/ReportManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReportManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IReportManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8106/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8106/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8106/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
      <xsd:import schemaLocation="http://localhost:8106/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportManager_SubscribeToReportUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToReportUpdates" />
  </wsdl:message>
  <wsdl:message name="IReportManager_SubmitReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitReport" />
  </wsdl:message>
  <wsdl:message name="IReportManager_SubmitReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_SubmitReport_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q1:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IReportManager_GetCurrentReportCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentReportCount" />
  </wsdl:message>
  <wsdl:message name="IReportManager_GetCurrentReportCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentReportCountResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_GetCurrentReportCount_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q2:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IReportManager_IsPlayerBanned_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPlayerBanned" />
  </wsdl:message>
  <wsdl:message name="IReportManager_IsPlayerBanned_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPlayerBannedResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManager_IsPlayerBanned_ServiceErrorDetailDTOFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" name="detail" element="q3:ServiceErrorDetailDTO" />
  </wsdl:message>
  <wsdl:message name="IReportManager_UnsubscribeFromReportUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFromReportUpdates" />
  </wsdl:message>
  <wsdl:message name="IReportManager_OnReportReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnReportReceived" />
  </wsdl:message>
  <wsdl:message name="IReportManager_OnReportCountUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnReportCountUpdated" />
  </wsdl:message>
  <wsdl:message name="IReportManager_OnPlayerBanned_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerBanned" />
  </wsdl:message>
  <wsdl:message name="IReportManager_OnPlayerUnbanned_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerUnbanned" />
  </wsdl:message>
  <wsdl:portType name="IReportManager">
    <wsdl:operation name="SubscribeToReportUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/SubscribeToReportUpdates" message="tns:IReportManager_SubscribeToReportUpdates_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/SubmitReport" message="tns:IReportManager_SubmitReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/SubmitReportResponse" message="tns:IReportManager_SubmitReport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReportManager/SubmitReportServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IReportManager_SubmitReport_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentReportCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/GetCurrentReportCount" message="tns:IReportManager_GetCurrentReportCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/GetCurrentReportCountResponse" message="tns:IReportManager_GetCurrentReportCount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReportManager/GetCurrentReportCountServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IReportManager_GetCurrentReportCount_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPlayerBanned">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/IsPlayerBanned" message="tns:IReportManager_IsPlayerBanned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/IsPlayerBannedResponse" message="tns:IReportManager_IsPlayerBanned_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReportManager/IsPlayerBannedServiceErrorDetailDTOFault" name="ServiceErrorDetailDTOFault" message="tns:IReportManager_IsPlayerBanned_ServiceErrorDetailDTOFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFromReportUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/UnsubscribeFromReportUpdates" message="tns:IReportManager_UnsubscribeFromReportUpdates_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnReportReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/OnReportReceived" message="tns:IReportManager_OnReportReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnReportCountUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/OnReportCountUpdated" message="tns:IReportManager_OnReportCountUpdated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerBanned">
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/OnPlayerBanned" message="tns:IReportManager_OnPlayerBanned_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerUnbanned">
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/OnPlayerUnbanned" message="tns:IReportManager_OnPlayerUnbanned_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IReportManager" type="tns:IReportManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IReportManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SubscribeToReportUpdates">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/SubscribeToReportUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SubmitReport">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/SubmitReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentReportCount">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/GetCurrentReportCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsPlayerBanned">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/IsPlayerBanned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceErrorDetailDTOFault">
        <soap12:fault use="literal" name="ServiceErrorDetailDTOFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFromReportUpdates">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/UnsubscribeFromReportUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnReportReceived">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/OnReportReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnReportCountUpdated">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/OnReportCountUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerBanned">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/OnPlayerBanned" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerUnbanned">
      <soap12:operation soapAction="http://tempuri.org/IReportManager/OnPlayerUnbanned" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportManager">
    <wsdl:port name="NetTcpBinding_IReportManager" binding="tns:NetTcpBinding_IReportManager">
      <soap12:address location="net.tcp://localhost:8107/ReportManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8107/ReportManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-LF36UFJ4\artcu</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>