client/PASSWORD LIS Client/Connected Services/ProfileManagerServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8096/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SocialAccounts" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="UserAccountId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ServiceErrorDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:ServiceErrorCode" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceErrorDetailDTO" nillable="true" type="tns:ServiceErrorDetailDTO" />
  <xs:simpleType name="ServiceErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER_ALREADY_EXISTS" />
      <xs:enumeration value="DATABASE_ERROR" />
      <xs:enumeration value="UNEXPECTED_ERROR" />
      <xs:enumeration value="STATISTICS_ERROR" />
      <xs:enumeration value="COULD_NOT_CREATE_ROOM" />
      <xs:enumeration value="ROOM_NOT_FOUND" />
      <xs:enumeration value="ROOM_FULL" />
      <xs:enumeration value="PLAYER_NOT_FOUND" />
      <xs:enumeration value="ALREADY_IN_ROOM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceErrorCode" nillable="true" type="tns:ServiceErrorCode" />
</xs:schema>