client/PASSWORD LIS Client/Connected Services/ProfileManagerServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8096/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" minOccurs="0" name="updatedProfileData" nillable="true" type="q1:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" minOccurs="0" name="UpdateProfileResult" nillable="true" type="q2:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>