client/PASSWORD LIS Client/Connected Services/FriendsManagerServiceReference/FriendsManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendsManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendsManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8104/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8104/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8104/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
      <xsd:import schemaLocation="http://localhost:8104/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendsManager_SubscribeToFriendUpdatesAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToFriendUpdatesAsync" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_DeleteFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_DeleteFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_GetPendingRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingRequests" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_GetPendingRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_RespondToFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RespondToFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_RespondToFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RespondToFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_UnsubscribeFromFriendUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFromFriendUpdates" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_UnsubscribeFromFriendUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFromFriendUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_OnFriendRequestReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRequestReceived" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_OnFriendAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendAdded" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_OnFriendRemoved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRemoved" />
  </wsdl:message>
  <wsdl:portType name="IFriendsManager">
    <wsdl:operation name="SubscribeToFriendUpdatesAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/SubscribeToFriendUpdatesAsync" message="tns:IFriendsManager_SubscribeToFriendUpdatesAsync_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/GetFriends" message="tns:IFriendsManager_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/GetFriendsResponse" message="tns:IFriendsManager_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/SendFriendRequest" message="tns:IFriendsManager_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/SendFriendRequestResponse" message="tns:IFriendsManager_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/DeleteFriend" message="tns:IFriendsManager_DeleteFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/DeleteFriendResponse" message="tns:IFriendsManager_DeleteFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/GetPendingRequests" message="tns:IFriendsManager_GetPendingRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/GetPendingRequestsResponse" message="tns:IFriendsManager_GetPendingRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RespondToFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/RespondToFriendRequest" message="tns:IFriendsManager_RespondToFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/RespondToFriendRequestResponse" message="tns:IFriendsManager_RespondToFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFromFriendUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/UnsubscribeFromFriendUpdates" message="tns:IFriendsManager_UnsubscribeFromFriendUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/UnsubscribeFromFriendUpdatesResponse" message="tns:IFriendsManager_UnsubscribeFromFriendUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/OnFriendRequestReceived" message="tns:IFriendsManager_OnFriendRequestReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/OnFriendAdded" message="tns:IFriendsManager_OnFriendAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRemoved">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/OnFriendRemoved" message="tns:IFriendsManager_OnFriendRemoved_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendsManager" type="tns:IFriendsManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendsManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SubscribeToFriendUpdatesAsync">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/SubscribeToFriendUpdatesAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/DeleteFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingRequests">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/GetPendingRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondToFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/RespondToFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFromFriendUpdates">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/UnsubscribeFromFriendUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/OnFriendRequestReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendAdded">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/OnFriendAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRemoved">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/OnFriendRemoved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendsManager">
    <wsdl:port name="NetTcpBinding_IFriendsManager" binding="tns:NetTcpBinding_IFriendsManager">
      <soap12:address location="net.tcp://localhost:8105/FriendsManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8105/FriendsManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SURFACE\eugen</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>