client/PASSWORD LIS Client/Connected Services/FriendsManagerServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8104/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" />
  <xs:import schemaLocation="http://localhost:8104/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts" />
  <xs:element name="SubscribeToFriendUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAccountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAccountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" minOccurs="0" name="GetFriendsResult" nillable="true" type="q1:ArrayOfFriendDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addresseeEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="SendFriendRequestResult" type="q2:FriendRequestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentPlayerId" type="xs:int" />
        <xs:element minOccurs="0" name="friendToDeleteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFriendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" minOccurs="0" name="GetPendingRequestsResult" nillable="true" type="q3:ArrayOfFriendDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespondToFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requesterPlayerId" type="xs:int" />
        <xs:element minOccurs="0" name="accepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespondToFriendRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFriendRequestReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" minOccurs="0" name="requester" nillable="true" type="q4:FriendDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFriendAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Contracts.DTOs" minOccurs="0" name="newFriend" nillable="true" type="q5:FriendDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFriendRemoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendPlayerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>